<?php
/*-------------------------------------------------------
*
*   LiveStreet Engine Social Networking
*   Copyright © 2008 Mzhelskiy Maxim
*
*--------------------------------------------------------
*
*   Official site: www.livestreet.ru
*   Contact e-mail: rus.engine@gmail.com
*
*   GNU General Public License, version 2:
*   http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
*
---------------------------------------------------------
*/
/**
 * Настройки для локального сервера.
 * Для использования - переименовать файл в config.local.php
 */

/**
 * Настройка базы данных
 */
$config['db']['params']['host'] = 'localhost';
$config['db']['params']['port'] = '3306';
$config['db']['params']['user'] = 'root';
$config['db']['params']['pass'] = '';
$config['db']['params']['type']   = 'mysql';
$config['db']['params']['dbname'] = 'upstream_livestreet_test';
$config['db']['table']['prefix'] = 'prefix_';

$config['path']['root']['web'] = 'http://livestreet.work';
$config['path']['root']['server'] = '/var/www/upstream_livestreet';
$config['path']['offset_request_url'] = '0';
$config['db']['tables']['engine'] = 'InnoDB';

$config['sys']['cache']['use']    = false;               // использовать кеширование или нет
$config['sys']['cache']['solid']  = false;

$config['compress']['css']['merge'] = false;
$config['compress']['js']['merge']  = false;    // указывает на необходимость слияния файлов по указанным блокам.
$config['compress']['js']['use']    = false;

$config['lang']['current'] = 'english';        // текущий язык текстовок
$config['lang']['default'] = 'english';

return $config;
?>